<!DOCTYPE html>
<html lang="en" ng-app="todo">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>

    <!-- bootstrap style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- font-awesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- jquery -->
    <script type="text/javascript" src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrapjs -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- angularjs -->
    <script type="text/javascript" src="assets/angular.min.js"></script>
    <script type="text/javascript" src="src/todoController.js"></script>
    <script type="text/javascript" src="src/components/redo-task-modal.component.js"></script>
    <script type="text/javascript" src="src/components/form-task-modal.component.js"></script>

  </head>
  <body ng-controller="todoCtrl">
    <div class="container">
      <div class="row">
        <h3>To-Do List</h3>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" ng-if="successMessage.success">
            {{successMessage.message}}
          </div>
          <div class="alert alert-danger" role="alert" ng-if="errorMessage.error">
            {{errorMessage.message}}
          </div>
        </div>
      </div>
      <!-- tab buttons -->
      <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Tarefas Pendentes</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Tarefas Concluídas</a>
          </li>
        </ul>
      </div>
      <!-- buttons -->
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="row mb-2">
            <div class="col-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formTarefa" ng-click="resetTask()">
                <i class="fas fa-plus"></i>
                Adicionar tarefa
              </button>
            </div>
            <div class="col-6">
              <input ng-model="searchTasks" class="form-control" placeholder="Pesquisar tarefas pendentes." />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th></th>
                    <th>Descrição</th>
                    <th>Responsável</th>
                    <th>E-mail</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody ng-if="taskListPending.length > 0">
                  <tr ng-repeat="task in taskListPending  | filter:searchTasks" ng-if="task.done === null">
                    <td width="50" class="text-left">
                      <button type="button" ng-click="completeTask(task.id)" class="btn btn-info" title="Concluír tarefa">
                        <i class="fas fa-check"></i>
                      </button>
                    </td>
                    <td>{{task.description}}</td>
                    <td>{{task.owner}}</td>
                    <td>{{task.email}}</td>
                    <td width="50" class="text-right">
                      <button type="button" class="btn btn-success" title="Excluir tarefa">
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                    <td width="50" class="text-right">
                      <button type="button" class="btn btn-danger" title="Excluir tarefa">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody ng-if="taskListPending.length === 0">
                  <tr ng-repeat="fact in catFactsList | filter:searchTasks">
                    <td width="50" class="text-left">
                      <button type="button" ng-click="popCatFact($index)" class="btn btn-info" title="Concluír tarefa">
                        <i class="fas fa-check"></i>
                      </button>
                    </td>
                    <td>{{fact.description}}</td>
                    <td>{{fact.owner}}</td>
                    <td>{{fact.email}}</td>
                    <td width="50" class="text-right">
                    </td>
                    <td width="50" class="text-right">
                    </td>
                  </tr>
                  <tr ng-if="catFactsList.length === 0">
                    <td colspan="6" class="text-center">
                      <button type="button" ng-click="realeaseCatFacts()" class="btn btn-primary" title="Estou sem tarefas">
                        Estou sem tarefas
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="row mb-2">
            <div class="col-6">
            </div>
            <div class="col-6">
              <input ng-model="searchTasks" class="form-control" placeholder="Pesquisar tarefas concluídas." />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th></th>
                    <th>Descrição</th>
                    <th>Responsável</th>
                    <th>E-mail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="task in taskListCompleted | filter:searchTasks">
                    <td width="50" class="text-left">
                      <button type="button" ng-click="selectTask(task)" class="btn btn-warning" title="Concluír tarefa" data-toggle="modal" data-target="#redoTask">
                        <i class="fas fa-redo-alt"></i>
                      </button>
                    </td>
                    <td>{{task.description}}</td>
                    <td>{{task.owner}}</td>
                    <td>{{task.email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form-task-modal task="task" refresh-list="listTasks()"></form-task-modal>

    <redo-task-modal task="task" refresh-list="listTasks()"></redo-task-modal>
    
  </body>
</html>